main {
  height: 100vh;
  background-image: url("images/background1.jpg");
  background-size: cover;
}

main img {
  width: 100%;
}

#logo {
  width: 30%;
}

#logo img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  #logo {
    width: 60%;
  }

  header {
    padding: 6vh 5.5vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #logo {
    width: 30%;
  }

  header {
    padding: 6.94vh 3.9vw 0;
  }
}
