main {
  background-image: url("images/background3.jpg");
  background-size: cover;
  height: 100vh;
}

main img {
  width: 100%;
}

.text-container {
  padding-top: 14.81vh;
  padding-left: 11.11vw;
  display: flex;
  width: 49.02vw;
  flex-direction: column;
  gap: 6vh;
}

@media screen and (max-width: 480px) {
  .text-container {
    padding: 6vh 6vw;
    width: 100%;
  }
}
