@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --main-bg-color: #000c14;
  --main-accent-color: #e4ff5b;
  --main-accent-color-variant: #fbffda;
  --secondary-accent-color: #ff70c4;
  --main-text-color: #fff;

  --title-font: "Unbounded";
  --main-font: "Montserrat";
}

/*INITIALISATION*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

li {
  list-style: none;
}

/* FONTS */
h1 {
  color: var(--main-text-color);
  font-family: var(--title-font);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: var(--main-accent-color);
  font-family: var(--title-font);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-h2 {
  color: #ff70c4;
}

h3 {
  color: var(--secondary-accent-color);
  font-family: var(--title-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  color: var(--main-accent-color);
  font-family: var(--title-font);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

a.clickable-mail {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a.clickable-mail2 {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a.clickable-mail2:hover {
  transition: transform 0.3s ease-in-out;
  color: var(--main-accent-color);
}

span.bold {
  font-weight: 700;
}

/*HEADER*/
.nav {
  z-index: 999;
  position: fixed;
  top: 5vh;
  right: 4vw;
}

.nav ul {
  display: flex;
  text-align: right;
  gap: 3vw;
}

.nav li {
  transition: transform 0.3s ease-in-out;
}

.nav li:hover {
  transform: scale(1.05);
}

/*MAIN*/
main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  flex-direction: column;
}

.sections {
  height: 100vh;
  scroll-snap-align: start;
}

#home,
#works {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*TITLE SCREEN*/
#home {
  background: radial-gradient(
    circle,
    rgba(0, 31, 33, 1) 35%,
    rgb(0, 12, 20, 1) 50%
  );
}

.home-content {
  position: relative;
}

.home-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: zoom 1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.home-title-container:hover {
  transform: scale(1.05);
}

@keyframes zoom {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.01);
  }
  70% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.home-title {
  width: 40vw;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: translateX(-4px);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateY(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}

.home-popup {
  position: absolute;
  display: flex;
  padding: 1.25vh 1.5vw;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #fff;
  top: 30%;
  right: 0;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.home-popup.visible {
  opacity: 1;
}

.home-text {
  color: var(--main-bg-color);
}

/*CARDS SCROLL*/

.hidden {
  display: none !important;
}

.smooth-scroll-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smooth-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  padding: 0 12vw;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-container.display .card-content {
  opacity: 1;
  transform: translateY(0);
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  width: 100%;
}

.img-container img {
  max-width: 100%;
}

.descr-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
}

.works-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5vh;
}

.title-tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

.redirecting-button {
  display: flex;
}

.redirecting-button img {
  transition: transform 0.3s ease-in-out;
}

.redirecting-button img:hover {
  transform: scale(1.1);
}

.buttons-container {
  position: fixed;
  top: 45vh;
  right: 4vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
}

button {
  width: 7px;
  height: 7px;
  background-color: var(--main-accent-color-variant);
  border-radius: 4px;
  border: none;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.55);
}

.buttons button.active {
  background-color: var(--main-accent-color);
  transform: scale(1.55);
}

/*ABOUT ME */

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
  gap: 3.5vh;
}

.about-title {
  width: 50%;
}

.about-text {
  width: 50%;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  padding: 0 4vw 3.5vh 4vw;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2vh;
}

#copyright {
  font-size: 0.7rem;
  font-weight: 300;
}

/*RESPONSIVE*/

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }

  /*HEADER*/

  .nav {
    right: 4vw;
    top: 3vh;
  }

  /*HOME*/
  main {
    scroll-snap-type: none;
  }

  .smooth-scroll-wrapper {
    scroll-snap-type: none;
    scroll-snap-align: none;
    overflow-y: visible;
  }

  /*CARDS*/
  .card-container {
    padding: 0 4vw;
    height: 100%;
  }

  .card-content {
    flex-direction: column;
    opacity: 1;
    transform: none;
    transition: none;
  }
  .card-container.display .card-content {
    opacity: 1;
    transform: translateY(0);
  }

  .img-container {
    gap: 1vh;
  }

  .descr-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
  }

  .works-text-content {
    gap: 1.5vh;
  }

  .title-tags {
    gap: 0.4vh;
  }

  .redirecting-button {
    justify-content: end;
  }

  .buttons-container {
    display: none;
  }

  /*about*/

  .about-text-container {
    gap: 2vh;
    padding: 20vh 4vw;
  }

  .about-title {
    width: 100%;
  }

  .about-text {
    width: 100%;
  }

  /*footer*/
  #footer {
    padding: 0 4vw 1vh 4vw;
  }

  #copyright {
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*fonts*/
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.5rem;
  }

  p,
  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 0.45rem;
  }

  a {
    font-size: 0.55rem;
  }

  /*header*/
  .nav ul {
    gap: 2.5vw;
  }

  #copyright {
    font-size: 0.35rem;
  }

  /*CARDS*/

  .card-content {
    gap: 5.5vw;
  }

  .img-container {
    gap: 1.5vh;
  }

  .works-text-content {
    gap: 2vh;
  }

  .title-tags {
    gap: 0.75vh;
  }

  .redirecting-button img {
    width: 5.5%;
  }

  .buttons {
    gap: 1.75vh;
  }

  button {
    width: 5px;
    height: 5px;
  }

  .buttons button:hover {
    transform: scale(1.5);
  }

  .buttons button.active {
    transform: scale(1.5);
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  /*fonts*/

  h1 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 0.95rem;
  }

  a {
    font-size: 0.85rem;
  }

  /*CARDS*/
  .card-content {
    gap: 4vw;
  }

  .img-container {
    gap: 1.5vh;
  }

  .descr-container {
    gap: 2.5vh;
  }

  .works-text-content {
    gap: 2vh;
  }

  .title-tags {
    gap: 0.5vh;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
}

@media screen and (min-width: 1441px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p,
  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 0.95rem;
  }

  a {
    font-size: 1rem;
  }
}
