@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --main-bg-color: #fff;
  --secondary-bg-color: #ffa968;
  --main-accent-color: #d86d25;
  --secondary-accent-color: #2d5831;
  --main-text-color: #000;

  --title-font: "Unbounded";
  --main-font: "Montserrat";
}

/*INITIALISATION*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* FONTS */
h1 {
  color: var(--main-text-color);
  font-family: var(--title-font);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: var(--main-accent-color);
  font-family: var(--title-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3,
.h3 {
  color: var(--secondary-accent-color);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  color: var(--secondary-accent-color);
  font-family: var(--title-font);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

a.clickable-mail {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a.clickable-mail2 {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a.clickable-mail2:hover {
  transition: transform 0.3s ease-in-out;
  color: var(--secondary-accent-color);
}

span.bold {
  font-weight: 700;
}

/*HEADER*/
.nav {
  z-index: 999;
  position: fixed;
  top: 5.4vh;
  right: 7vw;
}

.nav ul {
  display: flex;
  text-align: right;
  gap: 3vw;
}

.nav li {
  transition: transform 0.3s ease-in-out;
}

.nav li:hover {
  transform: scale(1.05);
}

/*MAIN*/
main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  flex-direction: column;
}

.sections {
  height: 100vh;
  scroll-snap-align: start;
}

#home,
#works {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*TITLE SCREEN*/
#home {
  background: radial-gradient(
    circle,
    rgba(255, 169, 104, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
}

.home-content {
  position: relative;
}

.home-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: zoom 1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.home-title-container:hover {
  transform: scale(1.05);
}

@keyframes zoom {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.01);
  }
  70% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.home-title {
  width: 45vw;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: translateX(-4px);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateY(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}

.home-popup {
  position: absolute;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #fff;
  top: 30%;
  right: 0;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.home-popup.visible {
  opacity: 1;
}

/*CARDS SCROLL*/

.hidden {
  display: none !important;
}

.smooth-scroll-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smooth-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 100px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-container.display .card-content {
  opacity: 1;
  transform: translateY(0);
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.img-content {
  height: 321.554px;
}

.descr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
}

.works-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5vh;
  width: 461px;
}

.title-tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  align-self: stretch;
}

.redirecting-button img {
  transition: transform 0.3s ease-in-out;
}

.redirecting-button img:hover {
  transform: scale(1.1);
}

.buttons-container {
  position: fixed;
  top: 45%;
  right: 5%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2vh;
}

button {
  width: 7px;
  height: 7px;
  background-color: #80a568;
  border-radius: 4px;
  border: none;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.5);
}

.buttons button.active {
  background-color: #2d5831;
  transform: scale(1.5);
}

/*ABOUT ME */

#about {
  background: linear-gradient(
    0deg,
    rgba(255, 169, 104, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  gap: 30px;
}

.about-title {
  width: 50%;
}

.about-text {
  width: 50%;
}

#footer {
  height: 15%;
  background-color: var(--secondary-bg-color);
  width: 100%;
  padding: 0 3.5vw 3.5vh 3.5vw;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2vh;
}

#copyright {
  font-weight: 300;
}

/*RESPONSIVE*/

@media screen and (max-width: 480px) {
  h2,
  .h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  .nav-content {
    right: 15vw;
    top: 5vh;
  }

  footer {
    padding: 0 6vw 2vh 6vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*fonts*/
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.5rem;
  }

  h3,
  .h3 {
    font-size: 0.85rem;
  }

  p {
    font-size: 0.45rem;
  }

  a {
    font-size: 0.55rem;
  }

  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 0.5rem;
  }

  /*header*/

  .nav {
    right: 7vw;
    top: 5.4vh;
  }

  .nav ul {
    gap: 0;
  }

  footer div {
    gap: 1vh;
  }

  footer {
    width: 100%;
    bottom: 0;
    padding: 0 30px 15px 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  /*fonts*/
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  h3,
  .h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
  }

  a {
    font-size: 0.8rem;
  }

  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 0.7rem;
  }

  .nav {
    top: 5.5vh;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
}

@media screen and (min-width: 1441px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3,
  .h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.95rem;
  }

  a {
    font-size: 1rem;
  }

  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 1rem;
  }
}
