@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --main-bg-color: #fff;
  --accent-color: #b24c63;
  --secondary-accent-color: #264169;
  --main-text-color: #000;
  --secondary-text-color: #b24c63;

  --title-font: "Unbounded";
  --main-font: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* fonts */
h1 {
  color: var(--main-text-color);
  font-family: var(--title-font);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: var(--secondary-text-color);
  font-family: var(--title-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3,
.h3 {
  color: var(--accent-color);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  color: var(--secondary-accent-color);
  font-family: var(--title-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

a.clickable-mail {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a.clickable-mail2 {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a.clickable-mail2:hover {
  transition: transform 0.3s ease-in-out;
  color: var(--accent-color);
}

span.bold {
  font-weight: 700;
}

/*body*/
header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding: 6.17vh 3.5vw;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75vh;
  cursor: pointer;
  position: absolute;
  right: 3.5vw;
  top: 6vh;
  transition: transform 0.3s ease-in-out;
}

.burger span {
  border: solid #000 1.5px;
  width: 30px;
  transition: all 0.3s ease-in-out;
}

.burger.active span:nth-child(2) {
  width: 25px;
}

.nav-content {
  position: absolute;
  top: 5.4vh;
  right: 7vw;
  opacity: 0;
  transform: translateY(-1.2vh);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}

.nav-content ul {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5vh;
}

.nav-content.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.nav-content li:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 0 3.5vw 3.5vh 3.5vw;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.2vh;
}

#copyright {
  font-weight: 300;
}

/*RESPONSIVE*/

@media screen and (max-width: 768px) {
  /*fonts*/
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.5rem;
  }

  h3,
  .h3 {
    font-size: 0.85rem;
  }

  p {
    font-size: 0.45rem;
  }

  a {
    font-size: 0.55rem;
  }

  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 0.5rem;
  }

  /*main*/

  .burger {
    gap: 0.6vh;
    right: 3.9vw;
    top: 6.94vh;
  }

  .burger span {
    border: solid #000 1px;
    width: 16px;
  }

  .burger.active span:nth-child(2) {
    width: 13px;
  }

  .nav-content {
    right: 7vw;
    top: 5.4vh;
  }

  .nav-content ul {
    gap: 0;
  }

  footer div {
    gap: 1vh;
  }

  footer {
    width: 100%;
    bottom: 0;
    padding: 0 30px 15px 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  /*fonts*/
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 0.75rem;
  }

  h3,
  .h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
  }

  a {
    font-size: 0.8rem;
  }

  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 0.7rem;
  }

  /*main*/
  .burger span {
    border: solid #000 1.5px;
    width: 28px;
  }

  .burger.active span:nth-child(2) {
    width: 24px;
  }

  .nav-content {
    top: 5.5vh;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
}

@media screen and (min-width: 1441px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3,
  .h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.95rem;
  }

  a {
    font-size: 1rem;
  }

  a.clickable-mail,
  a.clickable-mail2 {
    font-size: 1rem;
  }

  /*main*/
  .burger {
    gap: 0.7vh;
  }

  .burger span {
    width: 34px;
  }

  .burger.active span:nth-child(2) {
    width: 29px;
  }
}
